* {
    -webkit-font-smoothing: antialiased;
    font-family: 'PingFang TC', 'Microsoft JhengHei', sans-serif;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;

    /* 禁止反白 */
    -webkit-user-select: none;
    user-select: none;
}

.game-wrap {
    width: 100%;
    height: 100vh;
    min-width: 1920px;
    min-height: 900px;
    display: grid;
    grid-template-columns: 85% 15%;
}

.control-panel {
    width: 100%;
    height: 100%;
    grid-area: 1 span;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 60px 20px;

    .time-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 38px;
            font-weight: 700;
        }
    }

    .history-wrap {
        width: 100%;
    }

    .restart-btn {
        background-color: #000;
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 100px;
        transition: 0.3s;

        &:hover {
            color: #999;
        }
    }
}

.main-panel {
    width: 100%;
    height: 100%;
    grid-area: 1 span;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-wrap {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 10px;
        align-items: center;
        padding: 20px;
        background-image: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        .card {
            width: 170px;
            height: 220px;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            margin: auto;
            // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

            /*preserve the back when fliping*/
            transform-style: preserve-3d;
            transition: 0.5s all ease;

            &.exist {
                cursor: pointer;
            }

            &.flipped-b-to-f {          
                /*flip card-back behind card-front*/
                transform:rotateY(180deg);
            }

            &.flipped-f-to-b {          
                /*flip card-back behind card-front*/
                transform:rotateY(0);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;

                &.card-back {
                    z-index: 2;
                }
                &.card-front {
                    z-index: 1;
                }
            }
        }
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .start-btn {
        // position: absolute;
        // top: 70%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        cursor: pointer;
        background-color: #000;
        color: #FFF;
        font-size: 30px;
        border-radius: 100px;
        padding: 20px 50px;
        transition: 0.3s;

        &:hover {
            padding: 20px 70px;
        }
    }

    img {
        // position: absolute;
        width: 10%;
        // top: 40%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}