* {
    -webkit-font-smoothing: antialiased;
    font-family: 'PingFang TC', 'Microsoft JhengHei', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    
    /* 禁止反白 */
    -webkit-user-select: none;
    user-select: none;
}

#control-panel {
    width: 100vw;
    height: 10vh;
    background-color: lightslategray;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 18px;
        font-weight: 700;

    }

    a {
        background-color: #000;
        color: #FFF;
        padding: 10px 20px;

        &:hover {
            opacity: 0.6;
        }
    }
}

#main-panel {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-wrap {
        width: 80vw;
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        background-color: gray;

        .card {
            width: calc(100% / 5);
            height: calc(100% / 4);
            position: relative;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;

                &:nth-child(0) {
                    z-index: 2;
                }
                &:nth-child(1) {
                    z-index: 1;
                }
            }
        }
    }
}